<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<% content_for :aside do %>
<h3>Cozinhas</h3>
  <ul>
    <% @cuisines.each do |cuisine| %>
      <li><%= link_to cuisine.name, cuisine_path(cuisine.id)%></li>
    <%end%>
  </ul>

<h3>Tipo de Receita</h3>
  <ul>
  <% @recipe_types.each do |recipe_type| %>
    <li><%= link_to recipe_type.name, recipe_type_path(recipe_type.id)%></li>
  <%end%>
  </ul>
<%end%>

<h3>Receitas mais favoritadas</h3>

<h3> Ultimas receitas cadastradas </h3>
<% @last_recipes.each do |recipe| %>
  <div class = "recipes">
    <%= render recipe %>
  </div>
<% end %>

<%= link_to 'Visualizar todas receitas', recipes_path %>
